<p id="notice"><%= notice %></p>

<p>
  <strong>Weather date:</strong>
  <%= @weather.weather_date %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @weather.condition %>
</p>

<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
